@page "/expenses"
@using Blazor.FlexGrid.Components.Configuration
@using BethanysPieShopHRM.Shared

@inherits ExpenseOverviewBase

@inject BlazorComponentColumnCollection<Expense> Collection

@{
    RenderFragment<Expense> expenseTemp = (expense) => @<a class="btn btn-secondary" href="/expenseedit/@expense.ExpenseId">Edit</a>;
Collection.AddColumnValueRenderFunction(w => w.Currency, expenseTemp);
}

<div class="entity-edit">
    <h1 class="page-title">All Expenses</h1>

    @if (Expenses == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <Blazor.FlexGrid.Components.GridView DataAdapter="@Expenses" PageSize="3"></Blazor.FlexGrid.Components.GridView>
    }
</div>