@page "/expenses"
@inherits ExpenseOverviewBase
<div class="entity-edit">
    <h1 class="page-title">All Expenses</h1>

    @if (Expenses == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <Blazor.FlexGrid.Components.GridView DataAdapter="@Expenses" PageSize="3"></Blazor.FlexGrid.Components.GridView>
    }
    </div>